matplotlib         
numpy                     
onnxruntime-gpu 
opencv-python       
optimum             
pandas             
pillow              
shapely            
torch               
torchvision       
transformers        
ultralytics